<section class="container" >
  <section class="navbar">
    <section class="navbar-container">
      <span>
        <img src="https://img.pngio.com/png-file-svg-profile-png-980_980.png" alt="" height="176px" width="184px" >
      </span>
      <span>
        <ul>
        <li>
          <a href="home#target" >ABOUT</a>
        </li>
        <li>
          <a href="home#target1">EXPERIENCE</a>
        </li><li>
          <a href="#">EDUCATION</a>
        </li><li>
          <a href="#">SKILLS</a>
        </li><li>
          <a href="#">INTERESTS</a>
        </li><li>
          <a href="#">AWARDS</a>
        </li>

      </ul>
      </span>

    </section>

  </section>
  <section class="body">

    <section class="resume" id="target">
      <section class="information">
        <h1 class="name"><span class="firstName">FIRST  </span> <span class="lastName">LAST </span></h1>
        <em class="address">3542 BERRY STREET · CHEYENNE WELLS, CO 80810 · (317) 585-8468 · NAME@EMAIL.COM</em>
        <p class="summary">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      </section>
      <section class="social-network">
        <a href="">Facebook</a>
        <a href="">Facebook</a>
        <a href="">Facebook</a>
        <a href="">Facebook</a>
      </section>
      <section class="information">
       <em class="address">3542 BERRY STREET · CHEYENNE WELLS, CO 80810 · (317) 585-8468 · NAME@EMAIL.COM</em>
        <p class="summary">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      </section>
    </section>
    <section class="resume1" id="target1">
      <section class="information1">
        <h1 class="name"><span class="firstName">Frank  </span> <span class="lastName">Leonel </span></h1>
        <em class="address">3542 BERRY STREET · CHEYENNE WELLS, CO 80810 · (317) 585-8468 · NAME@EMAIL.COM</em>
        <p class="summary">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
      </section>
      <section class="social-network1">
        <a href="">Facebook</a>
        <a href="">Facebook</a>
        <a href="">Facebook</a>
        <a href="">Facebook</a>
      </section>
    </section>
  </section>

</section>


